.container {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFFF;
	background-size: auto;
	border-color: #999999;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 1.82%;
	padding-right: 1.82%;*/
	}

body { 
	margin: 0; 
	font-size: 1em; 
	line-height: 1.231; 

	}

.nav{
	float: right;
	clear: both;
	width: 100%;
	font-size: 1em;
	
	}

.logo{
	float:left;
	clear:right;
	margin-top: 10px;
	width:0 auto;
	}

article, aside, details, figcaption, figure, footer, nav. header, hgroup, { 
	display: inline-block; 
	float: right;
	clear: right;
	padding: 5px;
	width: 0 auto;
	border:thin;
	}
	
.header{
	background-color: #000000;
	background-size:cover;
	padding:30px;
	color: #F9C600;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	
.footer{
	background-color:#CCCCCC;
	background-size:cover;
	padding: 30px;
	text-indent:10%;
	float: none;
	clear: both;
	}
	
html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	}
	
img{
	width:100%;
	}
	

body, button, input, select, textarea { 
	font-family: sans-serif; 
	color: #222; 
	}
	
.sidebar1 {
	float: left;
	width: 20%;
	padding: 10px;
}


.content {
	padding-right: 0 auto;
	padding-left: 30px;
	width: 70%;
	float: left;	
}


/*links*/
a { 
	color: #0033FF; 
	}
a:visited { 
	color: #551a8b; 
	}
a:hover { 
	color: #00CC00; 
	}
a:focus { 
	outline: thin dotted; 
	}

/*links */
a:hover, a:active {
	outline: 0; 
	}
	
/*table*/	
#chart{
	padding: 0;
	margin-top: 20px;
	text-align: center;
	font-size: 110%;
	width: 100%;
	border-spacing: inherit;		
	border-collapse: inherit;
	table-layout: auto;
	content: normal;
	marker-offset: inherit;
	table-align: center;
	cellspacing: 20%;
	border-left-color: #CCFFFF;
	}
	
td, tr{
	width:25;
	background-color: #FFFFCC;
	border: ridge;	
	}
		
form{
	width: 5S0%;
	float: none;
	clear: both;
	margin-top: 25px;
	padding: 5px;
	font-size: 1em;
	color: #623F00;
	text-align: center; 
	center-block: center;		
	}
		

